* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
}

a {
	text-decoration: none;
}






.Header {
	padding: 20px;
	background-color: #2acc60;
	color: white;
	height: 100px;
}

.header-layout {
}

.header-item-1 {

}

.header-layout > img {
	padding: 0;
	margin: 0;
	width: 50px;
	height: 50px;

}

.header-item-2 {
	float: right;
}
.header-item-2 > a {
	padding: 5px;
}







.homepage-header {
	margin: 20px;
	display: flex;
	justify-content: center;
}

.job-listings-layout {
	padding: 30px;
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	justify-content: center;
}

.JobListing {
	border-style: solid;
	border-width:1px;
	border-color: black;
	border-radius: 10px;
	margin: 20px;
	padding: 20px;
}







.listing {
	margin-top: 50px;
	margin-left: 200px;
	margin-right: 200px;
	display: flex;
}

.listing-info {
	padding-right: 100px;
	flex: 1;
}
.listing-info > * {
	padding: 10px;
}

.listing-contact {
	width: 20%;
}

.listing-contact > div > img {
	max-width: 100%;
}

.listing-contact > .contact-btn {
	background-color: gray;
	min-width: 100%;
	padding: 20px;
	font-size: 20px;
	color: white;
	border-radius: 10px;
}