/* Fonts */
/* Font: Source Code Pro, Example: font-family: 'Source Code Pro', monospace; */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Code Pro', monospace;
	line-height: 1.4;
}

a {
	text-decoration: none;
}


/*************************
 
 	Header Styling 

************************/

.Header {
	/* background-color: #2acc60; - original color */
	background-color: #71A95A;
	color: white;
	font-family: 'Source Code Pro', monospace;
}

.header-layout {
	display: flex;
	padding: 1em;
}

.header-item-1 {
	padding-left: 15px;
	flex: 1;
}

#logo {
	padding: 0;
	margin: 0;
	width: 50px;
	height: 50px;
	flex: 1;

}

.header-item-2 {
	display: flex;
	flex-direction: row-reverse;
	flex-grow: 4;
}
.header-item-2 > a {
	padding: 0.5em;
}

/*************************
 
 	Footer Styling 

************************/


.Footer {
	/* Blueish grey - background-color: #606e84; */
	background-color: #007944;
	color: white;
	height: 90px;
	display: flex;
	align-items: center;
}

.Footer > * {
	margin: 0 20px 0 20px;
}